DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=verklegt_namskeid_db
POSTGRES_USER=verklegt_db_user
POSTGRES_PASSWORD=
POSTGRES_HOST=db-verklegt-namskeid-ii-oi1hxd.postgres.database.azure.com
POSTGRES_PORT=5432
POSTGRES_SSLMODE=require
